body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  font-size: 20px;
  padding: 10px 20px;
}
.logo {
  margin-right: 50px;
  text-decoration: none;
  color: lightgreen;
  background-color: rebeccapurple;
  font-weight: 700;
  padding: 5px 15px;
}
ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  gap: 30px;
}
/* ul > li:not(:last-child) {
  margin-right: 30px;
} */
.box {
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
  border-bottom: 1px solid #000;
}
.aside {
  background-color: lavender;
  padding: 10px 20px;
}
.post {
  padding-bottom: 20px;
}
.footer {
  font-size: 13px;
  padding: 0 20px;
}
a {
  color: rebeccapurple;
  font-weight: 700;
  text-decoration: none;
}
h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
section {
  background-color: lavender;
  padding: 5px 20px;
  margin-bottom: 20px;
}
.link {
  display: block;
  text-align: center;
  margin-top: 10px;
  background-color: rebeccapurple;
  color: white;
  padding: 8px 15px;
}
/* h1 + section {
  background-color: moccasin;
} */
.results {
  display: flex;
  gap: 10px;
}